about-time==4.2.1
alembic==1.16.2
alive-progress==3.2.0
beautifulsoup4==4.13.4
blinker==1.9.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.2.1
colorama==0.4.6
grapheme==0.6.0
greenlet==3.2.3
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.6
Mako==1.3.10
MarkupSafe==3.0.2
requests==2.32.3
setuptools==76.1.0
soupsieve==2.7
SQLAlchemy==2.0.41
tinytag==1.10.1
typing_extensions==4.14.0
urllib3==2.2.3
Werkzeug==3.1.3
