{% extends "errors/error_base.html" %}

{% block title %}Página no encontrada{% endblock %}

{% block content %}
<section class="section">
    <section class="hero is-fullheight is-error">
    <div class="hero-body">
        <div class="container has-text-centered">
            <span class="error-icon">🔍</span>
            <h1 class="title is-1">404</h1>
            <h2 class="subtitle is-3">¡Ups! Página no encontrada</h2>
            <p class="mb-4">El recurso que buscas no existe o fue movido.</p>
            <div class="buttons is-centered">
                <a href="{{ url_for('main.index') }}" class="button is-dark">
                    Volver al inicio
                </a>
            </div>
        </div>
    </div>
</section>
</section>
{% endblock %}