{% extends "base.html" %}

{% block title %}Acerca de...{% endblock %}

{% block content %}
    <h1 class="title is-1">Acerca de</h1>
    <div class="content">
        <p>Mi nombre es Anjiver.</p>
        <div class="box">
            <h2 class="title is-4">Características</h2>
            <ul>
                <li>Navbar responsive con menú hamburguesa</li>
                <li>Diseño 100% flexbox</li>
                <li>Footer siempre abajo</li>
                <li>Sin dependencias externas (Bulma local)</li>
            </ul>
        </div>
    </div>
{% endblock %}